body {
    background-image: url("../images/tiger.jpg");
    background-repeat: no-repeat;
    height: 100%;
    
}
.btn {
	margin-right: 10px;
}

form, input {
	margin-right: 10px;
}

#animal-input {
	margin-top: 20px;
	margin-bottom: 10px;
}
img {
	margin: 10px;

}
#gifPanel {
	border: solid orange 2px;
}
#jumbo {
	background-color: black;
	border: none;
}
#text {
	color: orange;
}
#panelBody {
	background-color: black;
	border: 0;
	box-shadow: none;
	border-bottom: solid orange 5px;
}
#rating {
	margin: 10px;
	color: white;
}